## Prediccion de datos
Importando modelos
Usando datos de prueba

In [1]:
#Importar librerias

import pandas as pd
from joblib import load

from sklearn.decomposition import PCA   #Algoritmo PCA
from sklearn.metrics import mean_absolute_error

from sklearn.preprocessing import Normalizer # Normalizacion de datos

## Cargar Modelos

In [3]:
#Cargar los modelos

#Modelo ClasificacionLDA
modeloClasificacionCFG = load('ModeloClasificacionCrudosFondosGasesLDA.pkl')
modeloPca = load('modelo_pca.joblib')

#Modelo RegresionCCR SVR
modeloCCR= load('Regrecion%CCR_SVR.pkl')

#Regresion_Saturados_SVR.pkl
modeloSaturados= load('Regresion_Saturados_SVR.pkl')
#Regresion_Aromaticos_SVR.pkl
modeloAromaticos= load('Regresion_Aromaticos_PLS.pkl')
#Regresion_Resinas_SVR.pkl
modeloResinas= load('Regresion_Resinas_SVR.pkl')
#Regresion_Asfaltenos_SVR.pkl
modeloAsfaltenos= load('Regresion_Asfaltenos_SVR.pkl')

#Regresion_ASCI_SVR.pkl
modeloASCI= load('Regresion_ASCI_SVR.pkl')

print ("Success")

Success

## Predecir datos nuevos

### Datos Prueba Clasificiacion Fondos/Crudos/Gases

In [3]:
datos_prueba_Clasificacion = pd.read_csv("Data/DatosPruebaClasificacionFCG.csv", sep="\t", decimal=",")
datos_prueba_Clasificacion = datos_prueba_Clasificacion.transpose()
datos_prueba_Clasificacion.head()

,0,1,2,3,4,5,6,7,8,9,...,11907,11908,11909,11910,11911,11912,11913,11914,11915,11916
GasPrueba,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
datos_prueba_pca = modeloPca.transform(datos_prueba_Clasificacion)

In [5]:
prediccionesClasificacion = modeloClasificacionCFG.predict(datos_prueba_pca)

# prediccionesClasificacion = modeloClasificacionCFG.predict(datos_prueba_Clasificacion)

#crudo 2 ,fondo 1, vacio 0  
if (prediccionesClasificacion == 2):
    print("Sus datos son un crudo")
elif(prediccionesClasificacion ==1):
    print("Sus datos son un fondo")
else :
    print("Sus datos son un gas")

Sus datos son un gas

### Datos Prueba Predicciones de %CCR

In [6]:
datos_prueba_CCR = pd.read_csv("Data/DatosPruebaRegresionCCR.csv", sep="\t", decimal=",")
datos_prueba_CCR = datos_prueba_CCR.transpose()
datos_prueba_CCR.head()

,0,1,2,3,4,5,6,7,8,9,...,59682,59683,59684,59685,59686,59687,59688,59689,59690,59691
VRPrueba,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
datos_prueba_CCR = Normalizer().fit_transform(datos_prueba_CCR)
datos_prueba_CCR

array([[0., 0., 0., ..., 0., 0., 0.]])

In [12]:
prediccionesCCR = modeloCCR.predict(datos_prueba_CCR)
print(prediccionesCCR)

[17.13440633]

### Datos Prueba SARA

In [40]:
datos_prueba_SARA = pd.read_csv("Data/DatosPruebaRegresionSARA.csv", sep="\t", decimal=",")
datos_prueba_SARA = datos_prueba_SARA.transpose()
datos_prueba_SARA.head()

,0,1,2,3,4,5,6,7,8,9,...,59682,59683,59684,59685,59686,59687,59688,59689,59690,59691
CRPrueba,2.262,10.568,37.162,41.482,37.954,34.222,48.287,42.975,87.73,79.811,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
datos_prueba_SARA = Normalizer().fit_transform(datos_prueba_SARA)
datos_prueba_SARA

array([[0.00263168, 0.01229511, 0.04323533, ..., 0.        , 0.        ,
        0.        ]])

In [42]:
#Predicciones Saturados
prediccionesSaturados = modeloSaturados.predict(datos_prueba_SARA)
print(prediccionesSaturados)

[24.42242187]

In [43]:
#Predicciones Aromaticos
prediccionesAromaticos = modeloAromaticos.predict(datos_prueba_SARA)
print(prediccionesAromaticos)

[[32.1405172]]

In [44]:
#Predicciones Resinas
prediccionesResinas = modeloResinas.predict(datos_prueba_SARA)
print(prediccionesResinas)

[14.05490805]

In [45]:
#Predicciones Asfaltenos
prediccionesAsfaltenos = modeloAsfaltenos.predict(datos_prueba_SARA)
print(prediccionesAsfaltenos)

[8.82001247]

### Datos Prueba ASCI

In [18]:
datos_prueba_ASCI = pd.read_csv("Data/DatosPruebaRegresionASCI.csv",sep="\t", decimal=",")
datos_prueba_ASCI = datos_prueba_ASCI.transpose()
print(datos_prueba_ASCI.shape)#Ver tamaño dataset
datos_prueba_ASCI.head()

(1, 7468)

,0,1,2,3,4,5,6,7,8,9,...,7458,7459,7460,7461,7462,7463,7464,7465,7466,7467
prueba,0.012468,0.012486,0.012449,0.012386,0.012352,0.012396,0.012543,0.012782,0.013081,0.013398,...,0.003964,0.003966,0.003967,0.003967,0.003967,0.003969,0.00397,0.003973,0.003975,0.003976

In [19]:
datos_prueba_ASCI = Normalizer().fit_transform(datos_prueba_ASCI)
print(datos_prueba_ASCI.dtype)
datos_prueba_ASCI

float64

array([[0.00449769, 0.00450432, 0.00449092, ..., 0.00143322, 0.00143384,
        0.00143416]])

In [20]:
prediccionesASCI = modeloASCI.predict(datos_prueba_ASCI)
print(prediccionesASCI)

[[0.01182676]]

In [46]:
datos_prueba_SARA = pd.read_csv("Data/DatosPruebaRegresionSARA.csv", sep="\t", decimal=",")
datos_prueba_SARA = datos_prueba_SARA.transpose()

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
datos_prueba_SARA = scaler.fit_transform(datos_prueba_SARA)


# datos_prueba_SARA = Normalizer().fit_transform(datos_prueba_SARA)
prediccionesSaturados = modeloSaturados.predict(datos_prueba_SARA)
print(prediccionesSaturados)

[12.1952618]

In [49]:
datos_prueba_SARA = pd.read_csv("Data/DatosPruebaRegresionSARA.csv", sep="\t", decimal=",")
datos_prueba_SARA

       CRPrueba
0         2.262
1        10.568
2        37.162
3        41.482
4        37.954
...         ...
59687     0.000
59688     0.000
59689     0.000
59690     0.000
59691     0.000

[59692 rows x 1 columns]